body{
    background: linear-gradient(90deg, grey, lightblue );
}

.grid-item{
    display: grid;
    grid-template-columns: 150px 1fr;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0px 10px 10px -6px black;
}

.grid-item img{
    max-width: 90%;
    max-height: 90%;
    padding: 5px;
   
}

header p{
    color: white;
    font-size: xx-large;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px, 1fr)) ;
}

*{margin: 5px;
    border: 5px;}
    
    
    header{
       display: flex;
       background-color: black;
       justify-content: space-between;
       align-items: center;
    }
    
    ul{
        display: flex;
        
        
    }
    
    li{
        margin: 0.5rem;
        background-color: gray;
        border-radius: 20%;
        padding: 0.2rem;
    }
    
    header img{
        border-radius: 50%;
        max-width: 120px;
        max-height: 120px;
    }
    
    a{
       text-decoration: none;
       color: white;
    }
    
    a:hover{color: lightgray;
    border-radius: 30%;
     }

    footer{
        background-color: black;
        color: gray;
        display: flex;
    }

    